{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <title>API BLOG</title>
</head>
<body>
  <div class='container'>
    <h1 class='title'>Hello world ! We are using API's today </h1>
    
    <p>Lets see if this will bring a good looking cat:</p>
    <img src="{{result3}}" alt="Its a cat">
    
    <h2 class='title'>Random Types of Canines</h2>
    <p>This is the <span id='breed'>{{breed_name}}</span> breed  : </p>
    <img src={{result2}} alt="Random Pet">
  </div>
  
</body>
</html>