{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <title>Document</title>
</head>
<body>
  <h1>Hello world ! We are using API's today </h1>
  {{result}}
  
  <p>Lets see if this will stay</p>
  
  {{result2}}

  <h2>Random Animals</h2>
  <img src={{result2}} alt="Random Pet">
  
</body>
</html>